:host {
  display: inline-block;
  width: 100%;
}

:host.required {
  border-left: 4px solid var(--custom-required-border-color);
  padding-left: 0.5rem;
}

.custom-textarea-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

textarea[pTextarea] {
  width: 100%;
}

:host ::ng-deep textarea[pTextarea]:disabled {
  background-color: var(--custom-disabled-bg);
  color: var(--custom-disabled-color);
  opacity: 1;
  cursor: var(--custom-disabled-cursor);
  resize: none;
}

:host ::ng-deep textarea[pTextarea]:disabled::placeholder {
  color: var(--custom-disabled-placeholder-color);
}

.validation-error-text {
  margin-top: 0.25rem;
}
