:host {
  display: inline-block;
  width: 100%;
}

.sesso-select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

:host.required .sesso-select-wrapper {
  border-left: 4px solid var(--custom-required-border-color);
  padding-left: 0.5rem;
}

.validation-error-text {
  margin-top: 0.25rem;
}
